In [ ]:
# 코랩에서 한글깨짐   
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
# 타이타닉 호 승객 정보 (탐색적 데이터 분석)

In [1]:
#라이브러리 import

In [2]:
# 그래프 그릴 때 한글깨짐 방지 코드
import matplotlib
import platform
if platform.system() == 'Windows' :
    matplotlib.rc('font', family='Malgun Gothic')  # resource config
elif platform.system() == 'Darwin': # MAC 커널 이름
    matplotlib.rc('font', family='AppleGothic')
else : # Linux 운영체제
    matplotlib.rc('font', family='NanumBarunGothic')

In [3]:
# - 기호 깨짐 방지
matplotlib.rcParams['axes.unicode_minus'] = False

In [4]:
# 에러(error), 경고(warning), 정보(info)
# 경고 메시지를 안보이게 하는 코드
import warnings
warnings.filterwarnings('ignore')

In [1]:
# data/titanic.xls 파일 불러오기

In [2]:
# 학습데이터를 만드는 과정 -> 전처리 과정 (분석 및 시각화 동시에 진행하는 것 : 탐색적 데이터 분석)
# survived : 생존 유무 (1:생존, 0:사망) - 범주형    ------------- 정답, label, y
# pclass : 선실등급 (1>2>3... 1등실이 가장 좋음) - 범주형(순서형) -> 가중치를 줄 수 있다. --------- 학습데이터, x
# sex : 성별 - 범주형(명목형) -> one-hot encoding 필요
# age : 나이 - 수치형(연속형 : 실수)
# sibsp : 부부, 형제자매 수 - 수치형(이산형 : 정수)
# parch : 부모, 자식 수 - 수치형(이산형 : 정수)
# ticket : 티켓 번호 (의미X)
# fare : 운임 - 수치형(연속형 : 실수)
# cabin : 선실번호
# embarked : 짐 유무
# boat : 탈출 보트 번호  * NaN : 결측치
# body : 신체정보
# home.dest : 출발지, 목적지

In [3]:
# DataFrame 정보 확인

In [4]:
# 통계 정보 확인

In [5]:
# 운임이 결측치인 사람 출력

In [6]:
# 각 컬럼의 null 여부 확인

In [7]:
# 결측치 갯수를 출력

In [8]:
# fair가 null인 사람 삭제

In [10]:
# body 컬럼 삭제

In [11]:
#생존자 수 확인

In [12]:
#생존자 수 도식화

In [ ]:
# 나이 히스토그램

In [ ]:
# 선실등급에 따른 생존 정보

In [ ]:
# 변수 상관관계

In [ ]:
# 성별에 따른 생존 정보

In [ ]:
# 선실 등급과 생존 정보 확인

In [ ]:
# 데이터 전처리 : 훈련 데이터 X와 정답 y를 준비하는 과정

In [ ]:
# 남여 정보를 숫자로 변경, 머신러닝의 재료가 되기 위해서 숫자 변경
# 남자(male)는 0으로, 여자(female)는 1로 변경 / 원칙적으로는 one-hot encoding 처리, 두가지 경우만 존재하기에 0, 1로 변경

In [ ]:
# 나이 결측치를 채우자
# name 컬럼의 이니셜(Mr., Mrs., Miss. 등)별 평균으로 채우자!

In [ ]:
# 이름에서 이니셜 가져와 새로운 컬럼 만들기

In [ ]:
# 이니셜에 따른 성별 나타내기

In [ ]:
# 이전 테이블 Transformation 하기

In [ ]:
#initial = ['Capt', 'Col', 'Countess', 'Don', 'Dona', 'Dr', 'Jonkheer', 'Lady','Major', 'Master', 'Miss', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir']

In [ ]:
# 이니셜별 결측치 갯수 확인

In [ ]:
# 이니셜을 5가지로 통일 : Mr, Mrs(기혼여성), Miss(미혼여성), Master, Other
# 남자, 기혼여성, 미혼여성, 아이, 기타
#before = ['Capt', 'Col', 'Countess', 'Don', 'Dona', 'Dr', 'Jonkheer', 'Lady', 'Major','Mlle','Mme', 'Ms', 'Rev', 'Sir']
#after = ['Mr', 'Mr', 'Mrs', 'Mr', 'Miss', 'Other', 'Mr', 'Miss', 'Mr', 'Mrs', 'Miss', 'Miss', 'Other', 'Mr']

In [ ]:
# Master의 평균 나이 출력

In [ ]:
# 이니셜 별 평균 나이 출력

In [ ]:
#iloc : index 기반으로 검색, loc : column명 기반으로 검색
# 나이가 결측치이고 이니셜이 'Master'인 사람을 찾자

In [ ]:
# 나이가 결측치이고 이니셜이 'Master'인 사람의 age를 채우자

In [ ]:
# 나이가 결측치이고 이니셜별별 age를 채우자

In [ ]:
# 결측치 정보 확인

In [ ]:
# 훈련데이터와 정답데이터 준비
# X준비

In [ ]:
# y준비

In [ ]:
# y의 형태 확인

In [ ]:
## ML 5단계
# 1. 훈련데이터와 테스트데이터 준비
# 2. 머신러닝 알고리즘 선택
# 3. 훈련
# 4. 평가(점수)
# 5. 새 데이터로 예측

In [ ]:
# 1. 훈련데이터와 테스트데이터 준비

In [ ]:
# 2. 머신러닝 알고리즘 선택

In [ ]:
# 3. 훈련

In [ ]:
# 4. 평가(점수)

In [ ]:
# 5. 새 데이터로 예측