In [2]:
# 타이타닉 호 승객 정보 (탐색적 데이터 분석)

In [3]:
#라이브러리 import

In [4]:
# 그래프 그릴 때 한글깨짐 방지 코드
import matplotlib
import platform
if platform.system() == 'Windows' :
    matplotlib.rc('font', family='Malgun Gothic')  # resource config
elif platform.system() == 'Darwin': # MAC 커널 이름
    matplotlib.rc('font', family='AppleGothic')
else : # Linux 운영체제
    matplotlib.rc('font', family='NanumGothic')

In [5]:
# - 기호 깨짐 방지
matplotlib.rcParams['axes.unicode_minus'] = False

In [6]:
# 에러(error), 경고(warning), 정보(info)
# 경고 메시지를 안보이게 하는 코드
import warnings
warnings.filterwarnings('ignore')

In [7]:
# data/titanic.xls 파일 불러오기

In [8]:
# 학습데이터를 만드는 과정 -> 전처리 과정 (분석 및 시각화 동시에 진행하는 것 : 탐색적 데이터 분석)
# survived : 생존 유무 (1:생존, 0:사망) - 범주형    ------------- 정답, label, y
# pclass : 선실등급 (1>2>3... 1등실이 가장 좋음) - 범주형(순서형) -> 가중치를 줄 수 있다. --------- 학습데이터, x
# sex : 성별 - 범주형(명목형) -> one-hot encoding 필요
# age : 나이 - 수치형(연속형 : 실수)
# sibsp : 부부, 형제자매 수 - 수치형(이산형 : 정수)
# parch : 부모, 자식 수 - 수치형(이산형 : 정수)
# ticket : 티켓 번호 (의미X)
# fare : 운임 - 수치형(연속형 : 실수)
# cabin : 선실번호
# embarked : 짐 유무
# boat : 탈출 보트 번호  * NaN : 결측치
# body : 신체정보
# home.dest : 출발지, 목적지

In [9]:
# DataFrame 정보 확인

In [10]:
# 통계 정보 확인

In [11]:
# 운임이 결측치인 사람 출력

In [12]:
# 각 컬럼의 null 여부 확인

In [13]:
# 결측치 갯수를 출력

In [14]:
# fair가 null인 사람 삭제



# body 컬럼 삭제

In [15]:
#성별에 따른 생존자 수 확인

In [16]:
# 성별에 따른 생존자 수 도식화

In [17]:
# 통계 : 정규분포를 이루고 있어야 통계가 가능하다
# 나이 히스토그램

In [18]:
# 선실등급에 따른 생존 정보

In [19]:
# 변수 상관관계

In [20]:
# 성별에 따른 생존 정보

In [21]:
# 선실 등급과 생존 정보 확인

In [22]:
# 데이터 전처리 : 훈련 데이터 X와 정답 y를 준비하는 과정

In [23]:
# 남여 정보를 숫자로 변경, 머신러닝의 재료가 되기 위해서 숫자 변경
# 남자(male)는 0으로, 여자(female)는 1로 변경 / 원칙적으로는 one-hot encoding 처리, 두가지 경우만 존재하기에 0, 1로 변경

In [24]:
# 나이 결측치를 채우자
# name 컬럼의 이니셜(Mr., Mrs., Miss. 등)별 평균으로 채우자!

In [25]:
# 이름에서 이니셜 가져와 새로운 컬럼 만들기

In [26]:
# 이니셜에 따른 성별 나타내기

In [27]:
# 이전 테이블 Transformation 하기

In [28]:
#initial = ['Capt', 'Col', 'Countess', 'Don', 'Dona', 'Dr', 'Jonkheer', 'Lady','Major', 'Master', 'Miss', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir']

In [29]:
# 이니셜별 결측치 갯수 확인

In [30]:
# 이니셜을 5가지로 통일 : Mr, Mrs(기혼여성), Miss(미혼여성), Master, Other
# 남자, 기혼여성, 미혼여성, 아이, 기타
#before = ['Capt', 'Col', 'Countess', 'Don', 'Dona', 'Dr', 'Jonkheer', 'Lady', 'Major','Mlle','Mme', 'Ms', 'Rev', 'Sir']
#after = ['Mr', 'Mr', 'Mrs', 'Mr', 'Miss', 'Other', 'Mr', 'Miss', 'Mr', 'Mrs', 'Miss', 'Miss', 'Other', 'Mr']

In [31]:
# Master의 평균 나이 출력

In [32]:
# 이니셜 별 평균 나이 출력

In [33]:
#iloc : index 기반으로 검색, loc : column명 기반으로 검색
# 나이가 결측치이고 이니셜이 'Master'인 사람을 찾자

In [34]:
# 나이가 결측치이고 이니셜이 'Master'인 사람의 age를 채우자

In [35]:
# 나이가 결측치이고 이니셜이 'Master'인 사람의 age를 채우자

In [ ]:
# 결측치 정보 확인