### 타이타닉 생존여부 예측모델 만들기
- survived : 생존 유무 (1:생존, 0:사망) - 범주형    ------------- 정답, label, y
-pclass : 선실등급 (1>2>3... 1등실이 가장 좋음) - 범주형(순서형) -> 가중치를 줄 수 있다. --------- 학습데이터, x
-sex : 성별 - 범주형(명목형) -> one-hot encoding 필요
-age : 나이 - 수치형(연속형 : 실수)
-sibsp : 부부, 형제자매 수 - 수치형(이산형 : 정수)
-parch : 부모, 자식 수 - 수치형(이산형 : 정수)
-ticket : 티켓 번호 (의미X)
-fare : 운임 - 수치형(연속형 : 실수)
-cabin : 선실번호
-embarked : 짐 유무
-boat : 탈출 보트 번호  * NaN : 결측치
-body : 신체정보
-home.dest : 출발지, 목적지

In [1]:
#라이브러리 import
import pandas as pd
import numpy as np

In [2]:
# data/titanic.xls 파일 불러오기

In [3]:
# DataFrame 정보 확인

In [4]:
# 통계 정보 확인

In [5]:
# 불필요 컬럼 삭제 : ['body', 'name', 'embarked', 'body', 'home.dest','boat','cabin','ticket']

In [6]:
# 결측치 제거

In [7]:
# 남여 정보를 숫자로 변경, 머신러닝의 재료가 되기 위해서 숫자 변경
# 남자(male)는 0으로, 여자(female)는 1로 변경 / 원칙적으로는 one-hot encoding 처리, 두가지 경우만 존재하기에 0, 1로 변경

In [8]:
#데이터 분리(라벨링)

## ML 5단계
### 1. 훈련 데이터와 테스트 데이터 준비
### 2. 머신러닝 알고리즘 선택
### 3. 훈련
### 4. 평가(점수)
### 5. 새 데이터로 예측

In [ ]:
# 1. 훈련 데이터와 테스트 데이터 준비

In [ ]:
# 2. 머신러닝 알고리즘 선택

In [ ]:
# 3. 훈련

In [ ]:
# 4. 평가(점수)

In [ ]:
# 5. 새 데이터로 예측

In [9]:
# 디카프리오는 살 수 있었다?
# 3등실, 남자:0, 19살, 형제(0), 부모(0), 운임 100달러

In [11]:
# 여주인공 윈슬릿은?
# 1등실, 여자:1, 17살, 형제(1), 부모(2), 운임 100달러
winslet = [[1, 1, 17, 1, 2, 100]]

In [12]:
# 나는?
# 2등실, 여자:1, 45살, 형제(0), 부모(0), 운임 100달러
me = [[1, 1, 45, 1, 2, 100]]

In [13]:
#matplotlib import

In [14]:
# 의사결정 트리 시각화